body {
    font-family: system-ui, sans-serif;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: none;

    cursor: url("assets/cursor.png"), auto;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;
    background-image: url(assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(24px);
}

.intro-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    padding: 3rem;

    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    gap: 20px;
}

button {
    all: unset;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    cursor: pointer;
}

#originalCanvas {
    display: none;
}

.controls {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

.image-container {
    display: flex;
    gap: 20px;
}

.shapeCanvasContainer {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

canvas {
    /* border: 1px solid #ccc; */
}

.speed-control {
    display: flex;
    align-items: center;
    gap: 10px;
}
